@media screen and (max-width: 655px){
    body {
        background-color: #e4e4e4;
    }

    .menu {
        float: left;
        text-align: center;
        padding: 14px 33%;
        text-decoration: none;
        font-size: 1.2em;
    }
    

    #Mapa{
        display: none;
    }

    .logo{
        display: none;
        width: 50%;
        display: flex;
        align-content:space-between;
        background-color: #9b9b9b;
        display: none;
    }

    .contenedor-imagenes{
        width: 97%;
    }

    .contenedor-imagenes .imagen{
        width: 40%;
        position: relative;
        height: 12em;
        margin-top: 1em;
        margin-bottom: 5px;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
    }

    .cocheantiguo{
        height: 150px;
        width: 45%;
    }
    
}