@media screen and (max-width: 600px){
    body {
        background-color: orange;
    }

    .itemM {
        display: none;
    }

    .MenuMovil{
        display: flex;
    }

    .contenedor{

    }
}