@media screen and (max-width: 600px){
    body {
        background-color: orange;
    }

    .menu {
        display: none;
    }

    .MenuMovil{
        display: grid;
        width: 100%;
        height: 20%;
        font-size: 2em;
    }

    .logo{
        width: 50%;
        align-tracks: flex-end;
        display: flex;
        align-content:space-between;
        background-color: #9b9b9b;
    }

    .contenedor{
        
    }
}