* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #e4e4e4;
    font-size: 14px;
    font-family: 'Roboto Condensed';
}

.piec {
    padding: 0.5em;
    background-color: #111111;
}

.pie1 {
    padding: 0.02em;
    background-color: #ffffff;
}

.contenedor {
   block-size: 100%;
}

.mapam{
    width: 100%;
}

.cabecera{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    background-color: #9b9b9b;
}

.logo{
    width: 50%;
    align-content:flex-end;
    display: flex;
    align-content:space-between;
    background-color: #9b9b9b;
}

.MenuMovil{
    display: none;
}
