* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #e4e4e4;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

.piec {
    padding: 0.5em;
    background-color: #111111;
}

.pie1 {
    padding: 0.02em;
    background-color: #ffffff;
}

.contenedor {
   block-size: 100%;
}

.mapam{
    width: 100%;
}

.cabecera{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    background-color: #9b9b9b;
}

.logo{
    width: 50%;
    align-content:flex-end;
    display: flex;
    align-content:space-between;
    background-color: #9b9b9b;
}


.galeria h1{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid #111111;
}

.contenedor-imagenes{
    display: flex;
    width: 78%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height: 22em;
    margin-top: 1em;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(243, 237, 237, 0.863);
    width: 100%;
    height: 0;
    transition: .5 ease;
    overflow: hidden;
    transition: 0.8s;
}

.overlay h2{
    color: #444242;
}

.imagen:hover .overlay{
    height: 10%;
    cursor: pointer;
}

