@media screen and (max-width: 600px){
    body {
        background-color: orange;
    }

    .menu {
        display: flex;
        flex-direction: row;
        font-size: 2.06em;
        text-align: center;
    }
    
    #Mapa{
        display: none;
    }

    .logo{
        display: none;
        /*width: 50%;
        display: flex;
        align-content:space-between;
        background-color: #9b9b9b;*/
    }
}