.menu{
    background-color: #9b9b9b;
}
.menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.menu .itemM {
    display: inline-block;
}

.menu .itemM a {
    background-color: #9b9b9b;
    color: #111111;
    padding: 1em 1.5em;
    display: block;
    font-family:'Roboto Condensed';
    font-size: 1.45em;
    text-decoration: #9b9b9b;
}

.menu a:hover{
    background-color:#5B5B5B ;
}
